<div class="jumbotron">
    <div class="container bg-light">
        <h1 class="display-4">Phumzani Restaurant</h1>
        <p class="lead">Delicoius food, fast food and plates!</p>
    </div>
</div>

<div class="container">
    <div class="errorAva text-center text-danger">
        {{messages.errorAvailable}}
    </div>
    <div class="info text-center text-success">
        {{messages.info}}
    </div>
    <table class="table table-bordered">
        <tr>
            {{#each week}}
            <th>{{day}}</th>
            {{/each}}
        </tr>
        <tr>
            <td>
                {{#each sunday}}
                {{this}} <br>
                {{/each}}
            </td>
            <td>
                {{#each monday}}
                {{this}} <br>
                {{/each}}
            </td>
            <td>
                {{#each tuesday}}
                {{this}} <br>
                {{/each}}
            </td>
            <td>
                {{#each wednesday}}
                {{this}} <br>
                {{/each}}
            </td>
            <td>
                {{#each thursday}}
                {{this}} <br>
                {{/each}}
            </td>
            <td>
                {{#each friday}}
                {{this}} <br>
                {{/each}}
            </td>
            <td>
                {{#each saturday}}
                {{this}} <br>
                {{/each}}
            </td>
        </tr>

    </table>


    <br>
    <div class="d-flex justify-content-center">
        <a href="./" class="m-4 btn btn-success">Home</a>
        <input type="submit" class="m-4 btn btn-primary" value="Update">
        <form action="/reset" method="GET">
            <input type="submit" class="m-4 btn btn-danger" value="Reset">
        </form>
    </div>

</div>