<div class="jumbotron">
    <div class="container bg-light">
        <h1 class="display-4">Phumzani Restaurant</h1>
        <p class="lead">Delicoius food, fast food and plates!</p>
    </div>
</div>

<div class="container">
    <div class="errorAva text-center text-danger">
        {{messages.errorAvailable}}
    </div>
    <div class="info text-center text-success">
        {{messages.info}}
    </div>
    <table class="table table-bordered">
        {{#each week}}
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sunday</th>
                {{#each sunday}}
            <tr>
                <td>
                    {{this}}
                </td>
            </tr>

            {{/each}}

            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>

            </tr>
        </thead>
        {{/each}}
        <tr>
            {{#each sunday}}
        <tr>
            <td>
                {{this}}
            </td>
        </tr>
        {{/each}}
        {{#each monday}}
        <tr>
            <td>
                {{this}}
            </td>
        </tr>
        {{/each}}
        {{#each tuesday}}
        <tr>
            <td>
                {{this}}
            </td>
        </tr>
        {{/each}}
        {{#each wednesday}}
        <tr>
            <td>
                {{this}}
            </td>
        </tr>
        {{/each}}
        {{#each thursday}}
        <tr>
            <td>
                {{this}}
            </td>
        </tr>
        {{/each}}
        {{#each friday}}
        <tr>
            <td>
                {{this}}
            </td>
        </tr>
        {{/each}}
        {{#each saturday}}
        <tr>
            <td>
                {{this}}
            </td>
        </tr>
        {{/each}}
        </tr>
    </table>


    <br>
    <div class="d-flex justify-content-center">
        <a href="./" class="m-4 btn btn-success">Home</a>
        <input type="submit" class="m-4 btn btn-primary" value="Update">
        <form action="/reset" method="GET">
            <input type="submit" class="m-4 btn btn-danger" value="Reset">
        </form>
    </div>

</div>