<div class="jumbotron">
    <div class="container bg-light">
        <h3 class="display-4">Phumzani's Coffee</h3>
        <p class="lead">Strong creamy coffee | Get here to choose your favourite!</p>
    </div>
</div>
<div class="container">
    <div class="d-inline text-center">

        <form action="/waiters/{{username}}" method="POST">
            <ul>
                {{#each week}}
                <li class="btn bg-light m-2" value="{{day}}" name="{{day}}">
                    <input type="checkbox" name="day" value="{{day}}"> {{day}}
                </li>
                {{/each}}
            </ul>
            {{!--
        </form> --}}
        <div class="error text-center text-danger">
            {{messages.error}}
        </div>

    </div>

    <div class="m-4">
        <img src="../images/pngtree-waiter-coffee-shop-coffee-female-png-image_3811707.jpg" style="float:left; margin-right: 10px; width: 250px" class="rounded" alt="Waiter on duty">

        <h4>About shift</h4>
        <p>We are in need of <strong>three waiters</strong> to work per shift. Please add your name if you will be
            available so we can know who will be available. Your presence will be appreciated.</p>

    </div>
    <div class="clearfix text-center" style="margin-top: 11%;">

        <label for="name"> <input class="bg-light" type="text" name="{{username}}" value="{{username}}" disabled
                placeholder="{{:username}}"></label>
        <br>
        <div class="d-flex justify-content-center">
            <input type="submit" class="m-4 btn btn-success" value="Add waiter">
                <form action="/waiters/{{username}}/update" method="POST">
                    <input type="submit" class="m-4 btn btn-primary" value="Update">
                </form>
            </form>



            <a href="../" class="m-4 btn btn-success">Logout</a>
        </div>
    </div>